<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>OziDesk</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- theme meta -->
  <meta name="theme-name" content="godocs-bulma" />
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- plugins -->
  <link rel="stylesheet" href="static\css\master.css">
  <link rel="stylesheet" href="static\css\master2.css">
  <!-- Main Stylesheet -->
  <link href="static\css\master_style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>

<nav class="navbar  navigation" role="navigation" aria-label="main navigation">
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item" href="index.html">
            <img class="img-fluid" src="static\images\logo.jpg" style="width:110px;height:110px;" alt="godocs" width="155px">
         </a>
         <h1> Ozidesk</h1>
   
         <a role="button" class="navbar-burger burger" aria-expanded="false" data-target="navbar-links">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </a>
      </div>
   
      <div id="navbar-links" class="navbar-menu">
         <div class="navbar-start ml-auto">
            <a class="navbar-item" href="/about">About Company</a>
            <a class="navbar-item" href="/internships">Internships</a>
            <a class="navbar-item" href="/contact">Contact</a>
         </div> 
   
         <div class="navbar-end ml-0">
            <div class="navbar-item py-0">
               <a href="/loginrender" class="btn btn-sm btn-outline-primary ml-4">LogIn</a>
               <a href="/register" class="btn btn-sm btn-primary ml-4">Register</a>
            </div>
         </div>
      </div>
   </div>
</nav>

<!-- banner -->
<section class="section pb-0">
   <div class="container2">
     <!-- <div class="columns is-justify-content-space-between is-align-items-center">
         <div class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">-->
         <div class="column1">

            <h1 class="h1">Business Analyst</h1>
            <div class="detail one">
               <h2 class="card-title h5">Data Scientist responsibilities include:</h2>
                   <li> Undertaking data collection, preprocessing and analysis</li>
                   <li> Building models to address business problems  </li>
                   <li> Presenting information using data visualization techniques </li>
            </div>
   
           <div class="detail two">
             <h2 class="card-title h5"> Job Brief</h2>
             <p class="card-text content">We are looking for a Data Scientist to analyze large amounts of raw information to find patterns that will help improve our company. We will rely on you to build data products to extract valuable business insights.In this role, you should be highly analytical with a knack for analysis, math and statistics. Critical thinking and problem-solving skills are essential for interpreting data. We also want to see a passion for machine-learning and research.Your goal will be to help our company analyze trends to make better decisions.</p>
           </div>
          
   
           <div class="detail three">
               <h2 class="card-title h5">Responsibilities</h2>
               <li>Identify valuable data sources and automate collection processes</li>
               <li>Undertake preprocessing of structured and unstructured data</li>
               <li>Analyze large amounts of information to discover trends and patterns</li>
               <li>Build predictive models and machine-learning algorithms</li>
               <li>Combine models through ensemble modeling</li>
               <li>Present information using data visualization techniques</li>
               <li>Propose solutions and strategies to business challenges</li>
               <li>Collaborate with engineering and product development teams</li>
            </div>
   
           <div class="detail four">
               <h4 class="card-title h5">Requirements and skills</h4>
               <li>Proven experience as a Data Scientist or Data Analyst</li>
               <li>Experience in data mining</li>
               <li>Understanding of machine-learning and operations research</li>
               <li>Knowledge of R, SQL and Python; familiarity with Scala, Java or C++ is an asset</li>
               <li>Experience using business intelligence tools (e.g. Tableau) and data frameworks (e.g. Hadoop)</li>
               <li>Analytical mind and business acumen</li>
               <li>Strong math skills (e.g. statistics, algebra)</li>
               <li>Problem-solving aptitude</li>
               <li>Excellent communication and presentation skills</li>
               <li>BSc/BA in Computer Science, Engineering or relevant field; graduate degree in Data Science or other quantitative field is preferred</li>
            </div>
         </div>

         <div class="column2">
            <img src="static/images/baba.jpeg" alt="Business Analyst Image">
            <h6 class="h8">Related Job descriptions </h6>
            <div class="anchor">
            <li><a href="#">Business Analyst</a></li>
            <li><a href="#">Data Analyst</a></li>
            <li><a href="#">Data Scientist</a></li>
            <li><a href="#">Software Developer</a></li>
            <li><a href="#">Manager</a></li>
            <li><a href="#">Research Analyst</a></li>
            <li><a href="#">Strategy Officer</a></li>
            <li><a href="#">Web Developer</a></li>
            <li><a href="#">UI Designer</a></li>
            <li><a href="#">Content Writer</a></li>
            <li><a href="#">Content Designer</a></li>
            </div>
         </div>
      </div>      
   </div>
</div>
</section>
<!-- /banner -->


<!-- call to action -->
<section class="section">
   <div class="container">
      <div class="columns is-align-items-center">
         <div class="column is-4-desktop has-text-centered hidden-on-tablet">
            <img src="static\images\work.jpg" class="img-fluid" alt="">
         </div>
         <div class="column is-8-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
            <h2 class="mb-3">Know the interview process and furthermore</h2>
            <p>Get in touch with us and clear all your doubts.</p>
            <a href="/contact" class="btn btn-primary">Submit a ticket</a>
         </div>
      </div>
   </div>
</section>
<!-- /call to action -->

<footer>
   <div class="container">
      <div class="columns is-multiline is-align-items-center border-bottom py-5">
         <div class="column is-4-desktop is-12-tablet">
            <ul class="list-inline footer-menu has-text-centered has-text-left-desktop">
               <li class="list-inline-item"><a href="changelog.html">Home</a></li>
               <li class="list-inline-item"><a href="/contact">Contact</a></li>
               <li class="list-inline-item"><a href="search.html">Privacy</a></li>
            </ul>
         </div>
         <div class="column is-4-desktop is-12-tablet">
            <a class="navbar-brand is-justify-content-center" href="index.html">
               <img class="img-fluid" src="static\images\logo.jpg" style="width:110px;height:110px;" alt="Hugo documentation theme">
            </a>
         </div>
         <div class="column is-4-desktop is-12-tablet">
            <ul class="list-inline social-icons has-text-right-desktop has-text-centered">
            <!--   <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>-->
            </ul>
         </div>
      </div>
      <div class="py-4 has-text-centered">
         <small class="text-light">OziBook -- Ozigen</a></small>
      </div>
   </div>
</footer>

<!-- plugins -->
<script src="plugins/jQuery/jquery.min.js"></script>
<script src="plugins/masonry/masonry.min.js"></script>
<script src="plugins/clipboard/clipboard.min.js"></script>
<script src="plugins/match-height/jquery.matchHeight-min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>
