<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>OziDesk</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- theme meta -->
  <meta name="theme-name" content="godocs-bulma" />
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- plugins -->
  <link rel="stylesheet" href="static\css\master.css">
  <link rel="stylesheet" href="static\css\master2.css">
  <!-- Main Stylesheet -->
  <link href="static\css\master_style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>

<nav class="navbar  navigation" role="navigation" aria-label="main navigation">
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item" href="index.html">
            <img class="img-fluid" src="static\images\logo.jpg" style="width:110px;height:110px;" alt="godocs" width="155px">
         </a>
         <h1> Ozidesk</h1>
   
         <a role="button" class="navbar-burger burger" aria-expanded="false" data-target="navbar-links">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </a>
      </div>
   
      <div id="navbar-links" class="navbar-menu">
         
   
         <div class="navbar-end ml-100">
            <div class="navbar-end ">
                <a class="navbar-item" href="/about">About Company</a>
                <a class="navbar-item" href="/internships">Internships</a>
                <a class="navbar-item" href="/contact">Contact</a>
            </div> 
         </div>
         <div class="navbar-end ml-0">
            <div class="navbar-item py-0">
               
               <a href="/" class="btn btn-sm btn-primary ml-4">Logout</a>
            </div>
         </div>

      </div>
   </div>
</nav>

<div class="forapp">
   <p class="welcome">Welcome to Ozibook !</p>
   <p class="intern">
      We are excited to offer an internship opportunity for students interested in gaining hands-on experience in
      website development and design. Our internship program is designed to provide a valuable learning experience 
      while helping interns to develop their skills and build their professional network.</p>
    <button class="forapply"><a href="/form1">Apply for Internship</a></button>
</div>
